@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e7e7e7;
  --display: #121212;
  --subheading: #3d3d3d;
  --description: #4f4f4f;
  --border: #888888;
  --text: #b0b0b0;
}

body {
  background-color: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --display: #e7e7e7;
    --subheading: #b0b0b0;
    --description: #6d6d6d;
    --border: #454545;
    --text: #3d3d3d;
  }
}
